<div class="thumbnail">
  <img class="pictures" src={{category.image}} alt={{category.type}}>
  <div class="caption">
    <h3>{{#link-to 'category' category.id}}{{category.type}}{{/link-to}}</h3>
  </div>
</div>
