<p class="category-title">{{model.type}}</p>

{{#each model.items as |item|}}
{{log item}}
  {{item-detail item=item category=category}}
{{/each}}


<footer>{{new-item saveItem="saveItem" category=model}}
</footer>
